@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
  --background-color: #1A1A1D;
  --main-text-color: rgb(244, 7, 78);
  --light-gray-color: #CCD6F6;
}

body {
  font-family: 'montserrat', sans-serif !important;
  letter-spacing: 3px;

}

.main-container {
  padding: 0px 100px;
  background-color: var(--background-color) !important;
}

section {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--background-color);

}

/* Slide in animations */

.hidden {
  opacity: 0;
  transition: all 1.5s;
}

.show {
  opacity: 1;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: var(--background-color);
  padding: 0px 40px;
}

.logo {
  color: var(--main-text-color);
  text-transform: capitalize;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--light-gray-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--main-text-color);
  margin: 5px;
  transition: all 0.3s ease;
}


.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px)''

  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Home Page */

h1 {
  color: var(--main-text-color) !important
}

p {
  color: #4e4e50;
}

.home-title {
  font-size: 85px;
  font-weight: 800;
  /* color: var(--main-text-color); */
  color: #ccd6f6 !important;
  padding-top: 20px;
  margin: 0px;
}

.home-subtitle {
  font-size: 60px;
  /* color: #C3073F; */
  font-weight: 600;
  color: #8892b0 !important;
}

.text {
  color: var(--light-gray-color);
  /* color: rgb(199, 195, 195); */
  font-size: 14px;
  letter-spacing: 0px !important;
  line-height: 25px;
  font-family: monospace;
}

.red-text {
  color: #E10600 !important;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#home {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 80vh;
  height: 80vh;
  padding: 0px;
  margin-bottom: 10vh;
}

.links-section-left {
  position: fixed;
  width: 40px;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}
.links-section-right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}

.social-links {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}


.social-links li a i {
  font-size: 25px;
  margin: 20px;
  color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
  transform: scale(1.2);
}

.social-links::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--main-text-color);
}

.email {
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: var(--main-text-color)
}

.home-btn {
  border: 1px solid var(--main-text-color) !important;
  color: var(--main-text-color) !important;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.home-btn:hover {
  background-color: rgb(244, 7, 78, .25);
}


/* About Section */

#about {
  padding: 100px 0px;
  min-height: 120vh;
  /* visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s; */
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  color: var(--main-text-color);
  font-size: 30px; 
}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--main-text-color);
  font-size: 30px; 

}

.numbered-heading::before {
  position: relative;
  bottom: 0px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 30px; 
}

.profile-pic {
  width: 100%;
  height: 50%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;

}

.profile-pic:hover {
  transform: scale(1.1);
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}


@media screen and (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color:#6F2232;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger {
    display: block;
  }
}
