@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Poppins:wght@300&family=Roboto:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto; 
  letter-spacing: 3px;
  background-color: var(--background-color) !important;
}

/* Colors */

:root {
  --background-color: #1A1A1D;
  --main-text-color: #f4074e;
  --light-gray-color: #CCD6F6;
}

.main-container {
  padding: 0px 100px;
  background-color: var(--background-color) !important;
}

section {
  width: 100%;
  position: relative;
  background-color: var(--background-color);
}

/* PRELOADER */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #f4dec5;
  background-color: #050505;
  transition: opacity 1s ease-in-out;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Scroll Wheel */

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--background-color);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-text-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--main-text-color);  /* creates padding around scroll thumb */
}

/* Blur Effect */
.blur-effect {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Slide in animations */

.hidden {
  opacity: 0;
  transition: all 2.5s;
}

.show {
  opacity: 1;
}


/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: var(--background-color);
  padding: 0px 40px;
}

.logo {
  color: var(--main-text-color);
  text-transform: capitalize;
  letter-spacing: 5px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--light-gray-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--main-text-color);
  margin: 5px;
  transition: all 0.3s ease;
}


.nav-active {
  transform: translateX(0%) !important;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px)''

  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Home Page */

h1 {
  color: var(--main-text-color) !important
}

p {
  color: #4e4e50;
}

.home-title {
  font-size: 85px;
  font-weight: 800;
  color: #ccd6f6 !important;
  padding-top: 20px;
  margin: 0px;
}

.home-subtitle {
  font-size: 60px;
  font-weight: 600;
  color: #8892b0 !important;
}

.text {
  color: var(--light-gray-color);
  font-size: 14px;
  letter-spacing: 0px !important;
  line-height: 25px;
}

.red-text {
  color: #E10600 !important;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#home {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 90vh;
  padding: 0px;
}

.links-section-left {
  position: fixed;
  width: 40px;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}
.links-section-right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}

.social-links {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}


.social-links li a i {
  font-size: 25px;
  margin: 20px;
  color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
  transform: scale(1.2);
}

.social-links::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--main-text-color);
}

.email {
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
}

.email:hover {
  transform: scale(1.1);
  color: var(--light-gray-color) !important;
}

.home-btn {
  border: 1px solid var(--main-text-color) !important;
  color: var(--main-text-color) !important;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.home-btn:hover {
  background-color: rgb(244, 7, 78, .25);
}

.cv-btn {
  margin-left: 20px;
  border: 1px solid var(--light-gray-color) !important;
  color: var(--light-gray-color) !important;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.cv-btn:hover {
  background-color: rgb(204, 214, 246, .25);
}

.home-btns {
  display: flex;
}


/* About Section */

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  color: var(--main-text-color);
  font-size: 30px; 
  font-weight: 900;

}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--main-text-color);
  font-size: 30px; 

}

.numbered-heading::before {
  position: relative;
  bottom: -3px;
  counter-increment: section 1;
  content: "1" ".";
  margin-right: 10px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 20px; 
}

.profile-pic {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 2px solid var(--main-text-color)
}

.about-text {
  height: 100%;
  overflow: auto;
  letter-spacing: 0px;
}

/* Projects Page */

.project-title {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  color: var(--main-text-color);
  font-size: 30px; 
  font-weight: 900;

}

.project-title::after {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--main-text-color);
  font-size: 30px; 

}

.project-title::before {
  position: relative;
  bottom: -3px;
  counter-increment: section 1;
  content: "1" ".";
  margin-right: 10px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 20px; 
}

.projects-img {
  width: 80%;
  height: 500px;
  object-fit: cover;
  display: flex;
  margin: 0px auto;
}

.project-video {
  width: 80%;
  height: 100%;
  display: flex;
  margin: 0px auto;
  position: relative;
}

.vertical-line {
  border-left: 2px solid rgb(80, 79, 79);
  height: 100%;
  position: absolute;
  left: 30%;
  margin-left: -3px;
}


.project-text {
  color: var(--light-gray-color);
  letter-spacing: 0px;
}

.arrow {
  color: rgb(80, 79, 79);
  position: absolute;
  top: 42.2%;
  right: 69.2%;
}

.fa-brands {
  color: var(--light-gray-color);
  font-size: 25px;
  margin-top: 20px;
  color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0px;
}
.fa-brands:hover {
  transform: scale(1.2);
}

.fa-solid {
  color: var(--light-gray-color);
  font-size: 25px;
  margin-top: 20px;
  color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0px 10px;
}

.fa-solid:hover {
  transform: scale(1.2);
}

.tech-btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tech-buttons {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  cursor: default;
}

.tech-buttons:nth-child(odd) {
  background-color: var(--light-gray-color);
  color: #2b2e39;
}

.tech-buttons:nth-child(even) {
  background-color: #2b2e39;
  color: var(--light-gray-color)
}

.open-arrow {
  color: var(--main-text-color);
  padding: 5px 0px;
  text-decoration: none;
}

.proj-link {
  text-decoration: none;
  color: var(--main-text-color);
  margin-top: 30px;
  font-weight: 900;
}

.links {
  display: flex;
  flex-direction: column;
}

/* More Projects */

.card-technologies {
  font-size: 90%;
  color: var(--main-text-color);
  font-weight: 600;

}

.card {
  border-radius: 4px;
  background-color: #2b2e39 !important;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  overflow: overlay !important;
  height: 400px !important;
}

.card:hover {
  transform: translateY(-7px);
}

.card-title {
  color: var(--light-gray-color) !important;
}

.card-text {
  color: #8892b0 !important;
  font-size: 15px;
  letter-spacing: 0px;
}

.row-gap {
  row-gap: 20px;
}

.card-hr {
  color: var(--light-gray-color);
}

/* Contact Me */

.contact-title {
  color: var(--main-text-color);
}

.contact-form {
  text-align: center;
}

.contact-form p {
  color: var(--light-gray-color) !important;
  letter-spacing: 2px;
}

.email-link {
  text-decoration: none;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
}

.email-link:hover {
  background-color: rgb(244, 7, 78, .25);
  color: var(--light-gray-color);
}

/* Footer Links */

.footer-links {
  display: flex;
  justify-content: space-around;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }

  .card-deck {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 850px) {
  .numbered-heading {
    font-size: 20px;
  }

  .numbered-heading::after {
    width: 200px;
  }

  .project-title {
    font-size: 20px;
  }

  .project-title::after {
    width: 200px;
  }

  .tech-buttons {
    font-size: 15px;
  }

  .about-img {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .card-title {
    font-size: 20px;
  }
}


@media screen and (max-width: 768px) {

  .links-section-left {
    display: none;
  }
  .links-section-right {
    display: none;
  }

  .main-container {
    padding: 0;
  }

  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    z-index: 9999999;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color:#6F2232;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .profile-pic {
    border-radius: 0%;
  }
}

@media screen and (max-width: 578px) {
  .home-title {
    font-size: 60px;
  }

  .home-subtitle {
    font-size: 40px;
  }

  .text {
    font-size: 12px;
  }

  .numbered-heading {
    font-size: 15px;
  }
  .numbered-heading::after {
    width: 100px;
  }

  .tech-buttons {
    font-size: 10px;
  }

  .row {
    margin: 0px !important;
    padding: 0px !important;
  }

  .col-12 {
    margin: 0x !important;
    padding: 0px !important;
  }

  .home-btns {
    flex-direction: column;
    width: max-content;
  }

  .cv-btn {
    margin: 0px;
    width: 50%;
  }

  .home-btn {
    margin: 20px 0px;
  }

  .profile-pic {
    display: none;
  }

  .about-img {
    display: none;
  }
}