@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
  --background-color: #1A1A1D;
  --main-text-color: #f4074e;
  --light-gray-color: #CCD6F6;
}

body {
  font-family: 'montserrat', sans-serif !important;
  letter-spacing: 3px;

}

.main-container {
  padding: 0px 100px;
  background-color: var(--background-color) !important;
}

section {
  width: 100%;
  position: relative;
  background-color: var(--background-color);
}

/* Blur Effect */
.blur-effect {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Slide in animations */

.hidden {
  opacity: 0;
  transition: all 2.5s;
}

.show {
  opacity: 1;
}


/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: var(--background-color);
  padding: 0px 40px;
}

.logo {
  color: var(--main-text-color);
  text-transform: capitalize;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--light-gray-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--main-text-color);
  margin: 5px;
  transition: all 0.3s ease;
}


.nav-active {
  transform: translateX(0%) !important;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px)''

  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Home Page */

h1 {
  color: var(--main-text-color) !important
}

p {
  color: #4e4e50;
}

.home-title {
  font-size: 85px;
  font-weight: 800;
  color: #ccd6f6 !important;
  padding-top: 20px;
  margin: 0px;
}

.home-subtitle {
  font-size: 60px;
  font-weight: 600;
  color: #8892b0 !important;
}

.text {
  color: var(--light-gray-color);
  font-size: 14px;
  letter-spacing: 0px !important;
  line-height: 25px;
  font-family: monospace;
}

.red-text {
  color: #E10600 !important;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#home {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 80vh;
  height: 80vh;
  padding: 0px;
}

.links-section-left {
  position: fixed;
  width: 40px;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}
.links-section-right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}

.social-links {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}


.social-links li a i {
  font-size: 25px;
  margin: 20px;
  color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
  transform: scale(1.2);
}

.social-links::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--main-text-color);
}

.email {
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
}

.email:hover {
  transform: scale(1.1);
  color: var(--light-gray-color) !important;
}

.home-btn {
  border: 1px solid var(--main-text-color) !important;
  color: var(--main-text-color) !important;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.home-btn:hover {
  background-color: rgb(244, 7, 78, .25);
}


/* About Section */

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  color: var(--main-text-color);
  font-size: 30px; 
  font-weight: 900;

}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--main-text-color);
  font-size: 30px; 

}

.numbered-heading::before {
  position: relative;
  bottom: -3px;
  counter-increment: section 1;
  content: "1" ".";
  margin-right: 10px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 20px; 
}

.profile-pic {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 2px solid var(--main-text-color)
}



/* .profile-pic:hover {
  transform: scale(1.1);
} */

/* Projects Page */


.projects-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: flex;
  margin: 0px auto;
}

.project-video {
  width: 100%;
  height: 500px;
  display: flex;
  margin: 0px auto;
  position: relative;
}

.vertical-line {
  border-left: 2px solid rgb(80, 79, 79);
  height: 2513px;
  position: absolute;
  left: 30%;
  margin-left: -3px;
  top: 10;
}


.project-text {
  color: var(--light-gray-color);
}

.project-title {
  color: var(--main-text-color);
}

.arrow {
  color: rgb(80, 79, 79);
  position: absolute;
  top: 42.2%;
  right: 69.2%;
}

.fa-brands {
  color: var(--light-gray-color);
  font-size: 25px;
  margin-top: 20px;
  color: var(--main-text-color);
  transition: all 0.3s ease-in-out;

}
.fa-brands:hover {
  transform: scale(1.2);
}

.tech-buttons {
  width: 80px;
  height: 60px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  text-decoration: none; 
  background-color: rgb(244, 7, 78, .25);
  color: var(--bs-code-color)
}

.open-arrow {
  color: var(--main-text-color);
  padding: 5px 0px;
  text-decoration: none;
}

.proj-link {
  text-decoration: none;
  color: var(--main-text-color);
  margin-top: 30px;
  font-weight: 900;
}

.links {
  display: flex;
  flex-direction: column;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}


@media screen and (max-width: 768px) {

  .links-section-left {
    display: none;
  }
  .links-section-right {
    display: none;
  }

  .main-container {
    padding: 0;
  }

  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    z-index: 9999999;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color:#6F2232;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger {
    display: block;
  }
}


/* test */
   

/* .container {
    background-color: rgb(252, 232, 143);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
} */

.test {
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  display: flex;
}


.slide-wrapper {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  min-height: 200px;
  width: 400vw;
  padding: 2rem 1rem;
  animation: slide 10s infinite linear;
}

.slide-wrapper:has(.slide:hover) .slide:not(:hover) {
    animation: shrink 4s forwards;
}

.slide:hover {
    animation: grow 4s forwards;
}

.slide {
    height: fit-content;
    padding: .75rem;
    margin-right: 3rem;
    border-radius: .25rem;
    background-color: rgb(82, 0, 82);
    border: 2px solid black;
    box-shadow: 3px 3px 0px black;
}

.tool {
  width: 100px;
}

.media-wrapper img {
    width: 50px;
    height: 50px;
    padding: 1rem;
    border-radius: .25rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 0px black;
}


/* More Projects */

.card-technologies {
  font-size: 90%;
  color: var(--main-text-color);
  font-weight: 600;

}

.card {
  border-radius: 4px;
  background-color: #2b2e39 !important;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}



.card:hover {
  transform: translateY(-7px);
}

.card-title {
  color: var(--light-gray-color) !important;
}

.card-text {
  color: #8892b0 !important;
}

.row-gap {
  row-gap: 20px;
}


@keyframes slide {
    0% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes shrink {
    0% {
        scale: 1;
        filter: blur(0px);
    }
    100% {
        scale: .75;
        filter: blur(1px);
    }
}

@keyframes grow {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.2;
        box-shadow: 4px 4px 2px black;
    }
}


